<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Meeting Name</th>
      <th scope="col">Company</th>
      <th scope="col">Start Time</th>
      <th scope="col">Type</th>
      <th scope="col">Duration</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
  {{#openuserrecord}}
    <tr>
      <th scope="row">{{meetingname}}</th>
      <td>{{companyname}}</td>
      <td>{{starttime}}</td>
      <td>{{meetingtype}}</td>
      <td>{{duration}}</td>
      <td>{{{status}}}</td>
    </tr>
     {{/openuserrecord}}
  </tbody>
</table>
